<!--Thread Section Wrapper-->
<section id="thread-landing" class="container-fluid">

  <div class="header-placeholder"></div>

  <mdb-card id="thread-landing-content">
    <mdb-card-header class="white-text text-center py-4">
      <h1><strong>Share. Learn. Enjoy.</strong></h1>
    </mdb-card-header>

    <mdb-card-body>
      <!-- Thread Row 1 -->
      <div class="row">
        <!-- Thread 1 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread1.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 1 -->

        <!-- Thread 2 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread2.jpg"
                alt="img"
              />
              <div class="mask flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 2 -->

        <!-- Thread 3 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread3.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- /Thread 3 -->

      <!-- Thread Row 2 -->
      <div class="row">
        <!-- Thread 4 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread4.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 4 -->

        <!-- Thread 5 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread5.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 5 -->

        <!-- Thread 6 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread6.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 6 -->
      </div>
      <!-- /Thread Row 2 -->

      <!-- Thread Row 3 -->
      <div class="row">
        <!-- Thread 7 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread7.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 7 -->

        <!-- Thread 8 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread8.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 8 -->

        <!-- Thread 9 -->
        <div class="col-md-4 mx-auto my-3" mdbWavesEffect>
          <div class="view overlay">
            <a>
              <img
                class="img-fluid"
                src="assets/img/thread9.jpg"
                alt="img"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <p class="white-text">Strong overlay</p>
              </div>
            </a>
          </div>
        </div>
        <!-- /Thread 9 -->
      </div>
      <!-- /Thread Row 3 -->
    </mdb-card-body>
  </mdb-card>

  <div class="footer-placeholder"></div>

</section>
<!--/Thread Section Wrapper-->
