#thread-detail {
  background: url('src/assets/img/thread_bg.jpg') no-repeat fixed center;
  background-size: cover;
}

#thread-detail-content {
  background: url('../../../assets/img/thread_landing_content_bg.jpg') no-repeat  center;
  background-size: cover;
}
