#post-landing {
  background: url('src/assets/img/thread_bg.jpg') no-repeat fixed center;
  background-size: cover;
}

#post-landing-content {
  background: url('../../../assets/img/post_landing_content_bg.jpg') no-repeat  center;
  background-size: cover;
}

/* Post Carousel */
#post-landing-content .carousel-item {
  &.active, &.carousel-item-right, &.carousel-item-next {
    display: flex !important;
    flex-wrap: wrap
  }
}
