<div class="view intro-2">
  <div class="full-bg-img">
    <div class="mask rgba-purple-light flex-center">
      <div class="container text-center">
        <!-- Material form login -->
        <mdb-card>
          <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
              <strong>Sign in</strong>
            </h5>
          </mdb-card-header>

          <!--Card content-->
          <mdb-card-body class="px-lg-5 pt-0">
            <!-- Login Form -->
            <form
              class="text-center"
              [formGroup]="loginForm"
              (ngSubmit)="onLogin(loginForm.value)"
            >
              <!-- Identifier -->
              <div class="md-form">
                <input
                  type="text"
                  id="identifierInput"
                  class="form-control"
                  formControlName="identifier"
                  mdbInput
                  mdbValidate
                />
                <label for="identifierInput">E-mail/telephone/username</label>
                <mdb-error *ngIf="identifier.invalid && (identifier.dirty || identifier.touched)"
                  >Invalid identifier</mdb-error
                >
                <mdb-success
                  *ngIf="identifier.valid && (identifier.dirty || identifier.touched)"
                ></mdb-success>
              </div>

              <!-- Password -->
              <div class="md-form">
                <input
                  type="password"
                  id="passwordInput"
                  class="form-control"
                  formControlName="password"
                  mdbInput
                  mdbValidate
                />
                <label for="passwordInput">Password</label>
                <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)"
                  >Invalid password</mdb-error
                >
                <mdb-error *ngIf="unauthorized">Unauthorized username or password</mdb-error>
                <mdb-success
                  *ngIf="password.valid && (password.dirty || password.touched)"
                ></mdb-success>
              </div>

              <div class="d-flex flex-row-reverse bd-highlight">
                <div>
                  <!-- Forgot password -->
                  <a href="">Forgot password?</a>
                </div>
              </div>

              <!-- Sign in button -->
              <button
                [disabled]="!(identifier.valid && password.valid)"
                mdbBtn
                color="info"
                outline="true"
                rounded="true"
                block="true"
                class="my-4 waves-effect z-depth-0"
                mdbWavesEffect
                type="submit"
              >
                Sign in
              </button>

              <!-- Register -->
              <p>
                Not a member?
                <a routerLink="/register">Register</a>
              </p>
            </form>
            <!-- Form -->
          </mdb-card-body>
        </mdb-card>
        <!-- Material form login -->
      </div>
      <!-- Central div -->
    </div>
  </div>
</div>
<!-- Central div -->
