.card img {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

mdb-card-footer {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
