.card-wrapper {
  height: 90% !important;
}

.back {
  padding: 0 !important;
  border-radius: 4px;
}

.front {
  border-radius: 4px;
}

.card-wrapper {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.card-up {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.card-up img {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
