#post-edit {
  background: url('src/assets/img/thread_bg.jpg') no-repeat fixed center;
  background-size: cover;
}

#cancelBtn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#submitBtn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
