/* Carousel */
.carousel-caption {
  bottom: 40%;
}

/* Streak */
.streak {
  height: 20vh;
}

/* Thread Grid */
#threads .row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#threads .col {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Post Padding for Dot Indicators */
#posts {
  height: 1000px;
}

/* Post Carousel */
#posts .carousel-item {
  &.active, &.carousel-item-right, &.carousel-item-next {
    display: flex !important;
    flex-wrap: wrap
  }
}

/* People Grid */
#people .row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  height: 500px;
}

#people .col {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#people mdb-flipping-card {
  cursor: move;
  background-color: white
}

#people #like {
  z-index: 0;
}

#people #next {
  z-index: 0;
}

#people #personCard {
  z-index: 1;
}
