/* Carousel */
.carousel-caption {
  bottom: 40%;
}

/* Streaks for All Sections */
.streak {
  height: 20vh;
}

/* Thread Streak Background */
#threads .streak {
  background: url('src/assets/img/thread_streak.jpg') no-repeat fixed center;
}

/* Thread Grid */
#threads .row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#threads .col {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Post Section Height for PCs */
#posts {
  height: 950px;
}

/* Post Section Height for Mobile Devices */
@media screen and (max-width: 767px) {
  #posts {
    height: 2600px;
  }
}

/* Post Background */
#posts {
  background: url('src/assets/img/post_streak.jpg') no-repeat fixed center;
}

/* Post Carousel */
#posts .carousel-item {
  &.active, &.carousel-item-right, &.carousel-item-next {
    display: flex !important;
    flex-wrap: wrap
  }
}

/* People Grid */
#people .row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  height: 560px;
}

#people .col {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* People Background */
#people {
  background: url('src/assets/img/people_streak.jpg') no-repeat fixed center;
}

/* People Flipping Card */
#people mdb-flipping-card {
  cursor: move;
  background-color: white
}

/* People Follow Div */
#people #follow {
  z-index: 0;
  margin-right: 5vw
}

/* People Next Div */
#people #next {
  z-index: 0;
  margin-left: 5vw
}

/* People Flipping Card Div */
#people #peopleCardWrapper1 {
  // 1 greater than 3 dot's z-index above
  z-index: 16;
  margin-top: 30px !important;
}
