<!--Carousel Wrapper-->
<mdb-carousel id="home" [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--Slide 1-->
  <mdb-carousel-item>
    <div class="view vw-100 vh-100">
      <img
        class="d-block vw-100 vh-100"
        src="assets/img/slide1.jpg"
        alt="First slide"
      />
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Welcome to Christopher</h1>
      <h4 class="h4-responsive">Stay Strong, Be Cool, Have fun!</h4>
    </div>
  </mdb-carousel-item>
  <!--/Slide 1-->

  <!--Slide 2-->
  <mdb-carousel-item>
    <div class="view vw-100 vh-100">
      <img
        class="d-block vw-100 vh-100"
        src="assets/img/slide2.jpg"
        alt="Second slide"
      />
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Welcome to Christopher</h1>
      <h4 class="h4-responsive">Stay Strong, Be Cool, Have fun!</h4>
    </div>
  </mdb-carousel-item>
  <!--/Slide 2-->

  <!--Slide 3-->
  <mdb-carousel-item>
    <div class="view vw-100 vh-100">
      <img
        class="d-block vw-100 vh-100"
        src="assets/img/slide3.jpg"
        alt="Third slide"
      />
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Welcome to Christopher</h1>
      <h4 class="h4-responsive">Stay Strong, Be Cool, Have fun!</h4>
    </div>
  </mdb-carousel-item>
  <!--/Slide 3-->
</mdb-carousel>
<!--/Carousel Wrapper-->

<!--Thread Section Wrapper-->
<div id="threads" style="background-image: url('/assets/img/streak.jpg');">
  <!--Thread Section Title-->
  <div class="streak streak-sm streak-photo">
    <div class="flex-center white-text rgba-black-light">
      <ul class="list-unstyled">
        <li><h1 class="h1-responsive">Share. Learn. Enjoy.</h1></li>
      </ul>
    </div>
  </div>
  <!--/Thread Section Title-->
  <div id="flippingThreadCards" (mousemove)="checkAndToggleCards($event.target)" (mouseenter)="toggleCards()" (mouseleave)="toggleCards()">
    <!--Thread Row 1-->
    <div class="row">
      <!--Thread 1-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread1.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread1.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--/Thread 1-->

      <!--Thread 2-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread2.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread2.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--/Thread 2-->

      <!--Thread 3-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread3.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread3.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--Thread 3-->
    </div>
    <!--Thread Row 1-->

    <!--Thread Row 2-->
    <div class="row">
      <!--Thread 4-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread4.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread4.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--/Thread 4-->

      <!--Thread 5-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread5.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread5.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--/Thread 5-->

      <!--Thread 6-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread6.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread6.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--/Thread 6-->
    </div>
    <!--/Thread Row 2-->

    <!--Thread Row 3-->
    <div class="row">
      <!--Thread 7-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread7.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back" >
              <div class="view">
                <img
                  src="assets/img/thread7.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--/Thread 7-->

      <!--Thread 8-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread8.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread8.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--/Thread 8-->

      <!--Thread 9-->
      <div class="col">
        <a>
          <mdb-flipping-card>
            <div class="face front tp-box_side tp-box_front">
              <img
                src="assets/img/thread9.jpg"
                alt="img"
              />
            </div>
            <div class="back tp-box_side tp-box_back">
              <div class="view">
                <img
                  src="assets/img/thread9.jpg"
                  alt="img"
                />
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text">Strong mask</p>
                </div>
              </div>
            </div>
          </mdb-flipping-card>
        </a>
      </div>
      <!--Thread 9-->
    </div>
    <!--/Thread Row 3-->
  </div>
</div>
<!--/Thread Section Wrapper-->
